WARMUP SECTION:

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [3]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 ==0:
        if a>b:
            return b
        else:
            return a
    else:
        if a>b:
            return a
        else:
            return b

In [4]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(2,5)

5

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [8]:
def animal_crackers(text):
    return text.split(' ')[0][0] == text.split(' ')[1][0]

In [9]:
# Check
animal_crackers('Levelheaded Llama')

True

In [10]:
# Check
animal_crackers('Crazy Kangaroo')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False:
    
    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [14]:
def makes_twenty(n1,n2):
    return sum((n1,n2)) == 20 or (n1 == 20 or n2 == 20)

In [15]:
# Check
makes_twenty(20,10)

True

In [16]:

# Check
makes_twenty(2,3)

False

LEVEL 1 PROBLEMS:

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [19]:
def old_macdonald(name):
    return name[0].capitalize() + name[1:3] + name[3:].capitalize()

In [20]:
# Check
old_macdonald('macdonald')

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [26]:
def master_yoda(text):
    return ' '.join(text.split(' ')[::-1])

In [27]:
master_yoda('I am home')

'home am I'

In [28]:
master_yoda('We are ready')

'ready are We'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200:

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True

In [33]:
def almost_there(n):
    return abs(n-100) <= 10 or abs(n-200) <= 10

In [34]:
# Check
almost_there(104)

True

In [35]:
# Check
almost_there(150)

False

In [36]:
# Check
almost_there(209)

True

LEVEL 2 PROBLEMS
FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [46]:
def has_33(nums):
    return '33' in ''.join(map(str,nums))

In [47]:
# Check
has_33([1, 3, 3])

True

In [48]:
# Check
has_33([1, 3, 1, 3])

False

In [49]:
# Check
has_33([3, 1, 3])

False

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [52]:
def paper_doll(text):
    return ''.join([x*3 for x in text])

In [53]:
paper_doll('Hello')

'HHHeeellllllooo'

In [54]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [59]:
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) > 21 and (a == 11 or b == 11 or c == 11):
        return sum((a,b,c)) - 10
    elif sum((a,b,c)) > 21:
        return 'BUST'

In [60]:
# Check
blackjack(5,6,7)

18

In [61]:
# Check
blackjack(9,9,9)

'BUST'

In [62]:
# Check
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [6]:
def summer_69(arr):
    if len(arr)>0 and 6 in arr and 9 in arr:
        six = arr.index(6)
        nine = arr.index(9)
        arr = arr[:six] + arr[nine+1:]
        return sum(arr)
    elif len(arr)>0:
        return sum(arr)
    else:
        return 0

In [7]:
# Check
summer_69([1, 3, 5])

9

In [8]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [9]:
# Check
summer_69([2, 1, 6, 9, 11])

14