Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: To store numbers in int or floating type e.g. 1, 2.5

Strings: To store list if characters or sentences e.g. Shubham, This is name

Lists: To store differnt or similar data type vales under single object e.g. [1,2,3], [1,'s','Shubha',4.44]

Tuples: Same as list but we can't change the values e.g. (1,2,3)

Dictionaries: stores values with keys. Easy to find each value with key refernce e.g. {"Name":"Shubham","Age":25}

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
(9**2)+(10*2)-(3/4)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

What is the value of the expression 4 * (6 + 5) = 44

What is the value of the expression 4 * 6 + 5 = 29

What is the value of the expression 4 + 6 * 5 = 34

In [3]:
4 * (6 + 5)

44

In [4]:
4 * 6 + 5

29

In [6]:
4 + 6 * 5

34

What is the type of the result of the expression 3 + 1.5 + 4?

float

In [7]:
type(3 + 1.5 + 4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [58]:
n = 4
square = n*n
squareroot = n**0.5

In [59]:
square

16

In [60]:
squareroot

2.0

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [12]:
s = 'hello'

In [14]:
s[1]

'e'

Reverse the string 'hello' using slicing:

In [15]:
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [16]:
s[4]

'o'

In [17]:
s[-1]

'o'

Build this list [0,0,0] two separate ways.

In [18]:
l = [0,0,0]

In [19]:
l

[0, 0, 0]

In [22]:
li = [0]*3

In [23]:
li

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [24]:
list3 = [1,2,[3,4,'hello']]

In [25]:
list3[2][2] = 'goodbye'

In [26]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [27]:
list4 = [5,3,4,6,1]

In [28]:
list4.sort()

In [29]:
list4

[1, 3, 4, 5, 6]

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [30]:
d = {'simple_key':'hello'}

In [31]:
d['simple_key']

'hello'

In [32]:
d = {'k1':{'k2':'hello'}}

In [33]:
d['k1']['k2']

'hello'

In [34]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [35]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [36]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [37]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

No we can't sort a dictionary as it's orders are based on the keys. It's keys can be sorted though.

What is the major difference between tuples and lists?

Tuples are immutable. You can't change the value once it is assigned to a tuple. List values can be changed using index number.

How do you create a tuple?

In [38]:
t = (1,'Shubham',2.33)

In [39]:
t

(1, 'Shubham', 2.33)

What is unique about a set?

Sets can store only unique values

In [41]:
myset = set()

In [42]:
myset.add(1)

In [43]:
myset

{1}

In [44]:
myset.add(1)

In [45]:
myset

{1}

In [46]:
myset = {1,2,1}

In [47]:
myset

{1, 2}

Use a set to find the unique values of the list below:

In [48]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [49]:
new_set = set(list5)

In [50]:
new_set

{1, 2, 3, 4, 11, 22, 33}

Boolean

In [51]:
2 > 3 #False

False

In [52]:
3 <= 2 #False

False

In [53]:
3 == 2.0 #False

False

In [54]:
3.0 == 3 #True

True

In [56]:
4**0.5 != 2 #False

False

Final Question: What is the boolean output of the cell block below?

In [61]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1'] #False

False